* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #00B4DB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
}

nav .wrapper {
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .nav_links {
  display: flex;
}

.wrapper .logo a,
.nav_links li a {
  color: #f2f2f2;
  text-decoration: none;
}

.wrapper .logo a {
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav_links li a {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  padding: 9px 15px;
  transition: all 0.3s ease;
}

.nav_links li {
  list-style-type: none;
}

.nav_links li a:hover {
  background: #05728a;
  color: #f2f2f2;
}

.nav_links .mobile_item {
  display: none;
}

/**********************************
          Drop Down Menu
*********************************** */

.nav_links .drop_menu {
  position: absolute;
  top: 65px;
  width: 180px;
  line-height: 45px;
  background-color: #05728a;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav_links li:hover .drop_menu,
.nav_links li:hover .mega_box {
  top: 65px;
  opacity: 1;
  visibility: visible;
  border-radius: 5%;
}

.drop_menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.drop_menu li a:hover{
  background: #00B4DB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5%;

}

/**********************************
            Mega Menu
*********************************** */

.mega_box {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.mega_box .content {
  background-color: #05728a;
  padding: 25px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row header {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

.content .row .services_img {
  background-image: url(https://i.pinimg.com/originals/cc/21/4a/cc214a8fc4c81b090c84811ddcfa791c.jpg);
  background-color: #d9d9d9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.content .row .mega_links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.content .row .first_links {
  border-left: 0px;
}

.row .mega_links li {
  padding: 0 20px;
}

.row .mega_links li a {
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  line-height: 45px;
  display: block;
  border-radius: 5%;
}


/* Estilos para los botones de selección de archivo */
.input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.input-container input[type="file"] {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.input-container .btn-select {
  background-color: #00B4DB;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4%;
}

.input-container .btn-select:hover {
  background-color: #0083B0;
  border-radius: 5%;
}

/* Estilos para el texto del nombre del archivo seleccionado */
.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

/* Estilos para el reproductor de video */
.video-container {
  padding-top: 20vh;
  display: none;
  text-align: center;
  color: #0083B0;
}

.video-container video {
  width: 60%;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
}

/* Estilos para el reproductor de Audio */
.audio-container {
  padding-top: 20vh;
  display: none;
  text-align: center;
  color: #0083B0;
}

.audio-container audio {
  width: 60%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  color: #05728a;

}




/* buttons style */

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.cancel_btn {
  position: absolute;
  top: 0;
  right: 10px;
}

/**********************************
        Responsive Styles
*********************************** */

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav_links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background: #242526;
    display: block;
    top: 0;
    left: 0;
    left: -100%;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in-out;
  }

  #menu_btn:checked ~ .nav_links {
    left: 0%;
  }

  #menu_btn:checked ~ .btn.menu_btn {
    display: none;
  }

  .nav_links::-webkit-scrollbar {
    width: 0px;
  }

  .nav_links li {
    margin: 15px 10px;
  }

  .nav_links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  /* drop down responsive */

  .nav_links .drop_menu {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }

  #showDrop:checked ~ .drop_menu {
    max-height: 100%;
  }

  .nav_links .drop_menu li {
    margin: 0;
  }

  .nav_links .drop_menu li a {
    font-size: 18px;
    border-radius: 5px;
  }

  .nav_links .desktop_item {
    display: none;
  }

  .nav_links .mobile_item {
    display: block;
  }

  /* mega menu responsive */

  .nav_links .mega_box {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }

  #showMega:checked ~ .mega_box {
    max-height: 100%;
    padding-bottom: 25px;
  }

  .mega_box .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content .row {
    width: 100%;
    margin-bottom: 20px;
  }

  .content .row .mega_links {
    margin-left: 0;
    margin-top: 20px;
    border-left: none;
  }

  .row .mega_links li {
    margin: 0;
    padding: 0;
  }
}

/**********************************
          Media Queries
*********************************** */

@media screen and (max-width: 700px) {
  .wrapper .logo a {
    font-size: 24px;
  }
}
